@import './mobile';
@import './normalize';
@import './reset';

$materialCubicBezier: cubic-bezier(0.25, 0.8, 0.25, 1);

$translucent-black: rgba(#000, .3);
$translucent-white: rgba(#fff, .5);
$white: #fff;

$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$indigo: #3f51b5;
$blue: #2196f3;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$brown: #795548;
$grey: #9e9e9e;
$bluegrey: #607d8b;

$font-primary: #121212;
$font-secondary: rgba(#000, .54);

$paper-elevation-none: none;
$paper-elevation-low: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
$paper-elevation-medium: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
$paper-elevation-high: 0px 10px 13px -6px rgb(0 0 0 / 20%), 0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);

$font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
$font-family-roboto: "Roboto";

$material-markdown-border-light: rgba(0, 0, 0, 0.12);
$material-markdown-quote: #757575;

* {
  font-family: $font-family;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  font-size: 16px;
  padding: 64px 0 144px;
  //&.full-vh-content {
  //  padding-top: 0;
  //  .material-header,
  //  .material-footer, {
  //    display: none;
  //  }
  //  .material-container {
  //    margin-top: 0;
  //  }
  //  .material-editor {
  //    height: 100vh;
  //  }
  //}
}

.material-responsive {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1280px) {
    width: 1280px;
  }
  @media (min-width: 1600px) {
    width: 1440px;
  }
}

.content-pop-in {
  animation: popIn .4s $materialCubicBezier;
}

@mixin top-left-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-not-found {
  font-size: 14px;
  color: $font-secondary;
  @include top-left-center;
}
